<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - NGB社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/publish.css"/>
    <script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">NGB社区论坛</span>
            </button>
            <a class="navbar-brand" href="#">NGB社区论坛</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索话题或问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="not ${session.githubUser != null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=2fb1b0093eed308a2acc&redirect_uri=http://localhost:8887/callback&scope=user&state=1">登录</a>
                </li>
                <li class="dropdown" th:if="${session.githubUser != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${session.githubUser.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">设置</a></li>
                        <li><a href="#">支持作者</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <h3>
                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                发起
            </h3>
            <form action="">
                <div class="form-group">
                    <label for="topic">帖子标题（简单扼要）</label>
                    <input type="text" class="form-control" name="topic" id="topic" placeholder="帖子话题......">
                </div>
                <div class="form-group">
                    <label for="detail">帖子内容</label>
                    <textarea type="text" name="detail" id="detail" class="form-control" rows="6" col="30"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input type="text" class="form-control" name="tag" id="tag" placeholder="输入一个或多个标签，用逗号隔开">
                </div>
                <button class="btn btn-success" type="submit">确认发起</button>
            </form>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div>
                <h3>帖子发起指南</h3>
            </div>
            <div>
                <p><b>• 帖子标题: </b>为您的帖子起个标题吧</p>
                <p><b>• 描述补充:</b>请畅所欲言吧</p>
                <p><b>• 选择标签: </b>选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字</p>
            </div>


        </div>
    </div>
</div>
</body>
</html>